$mainColor: rgb(191 1 0);
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Recursive:wght@300;400;500;600;700;800;900&family=Rubik+Beastly&display=swap');
.btn-main {
    background-color: $mainColor;
    border-color: $mainColor ;

    &:hover {
        background-color: complement($mainColor);
    }
}