@import 'vars.scss';

#about{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2% 4%;
    
    .herro-carousel{
        .text{
            display: none;
        }

        .active img {
            width: 48%;
        }
    }:after{
        content: none;
    }

    
    .about-text {
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: pre-wrap;
        position: relative;
        text-align: center;
        padding: 0 6%;
        font-size: 1.4em;
        font-weight: bold;
        color: $mainColor;

        img {
            height: 500px;
            position: absolute;
            z-index: -1;
            right: 0;
            object-fit: cover;
            width: 100%;
        }
        p{
            margin: 0;
        }
    }

    .show-types{
        justify-content: space-between;

        .card{
            color: $mainColor;
            border: solid 1px complement($mainColor);

            .card-header{
                background-color: complement($mainColor);
            }
            .card-body{
                flex: auto;
            }
            ul{
                margin: 0;
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: space-between;
            }
            li.type-line {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: auto;
            }
            .card-footer{
                border:solid 1px complement($mainColor);
                a.btn{
                    width: 100%;
                    background-color: $mainColor;
                }
            }
        }
    }
}