/* .slick-slide {
    opacity:0;
}

.slick-slide.slick-active{
    opacity:1 !important;
    transition:opacity 0.5s ease-in-out;
} */

/* .slick-cloned {
opacity:1;
} */
/* 
.slick-slide.slick-active { z-index: 999; }
.slick-slide, .slick-cloned { pointer-events: none; position: absolute; z-index: 999;}
.slick-active { pointer-events: auto; } */
/* .spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./your-image.svg');
} */
/* #root .wrap-nav nav{
    display: none;
  } */
/* #root .herro .wrap-nav nav{
    position: absolute;
    margin: auto;
    text-align: center;
    display: inherit;
  }
  
  #root .herro .wrap-nav .navbar-nav a.nav-link{
    color: white !important;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 2px 12px black;
    display: inherit;
  }

  .herro ul.navbar-nav {
    justify-content: space-between;
    width: 100%;
}

  .herro nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    position: absolute;
    z-index: 5;
    justify-content: center;
    display: flex;
    left: 15%;
    width: 70%;
    margin: auto;
    background-color: transparent !important;
    color: white !important;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    justify-self: center;
  }
  
  .herro div#navbarNav {
    display: flex;
  }
  
  
  .herro li.nav-item a {
    font-size: 1.5em;
    font-weight: 600;
    color: white !important;
  }
  .herro li.nav-item a.active {
    border-bottom: solid 2px;
  } */
@import 'vars.scss';

.herro-carousel {
  /* height: 700px; */
  height: 500px;
  position: relative;
}

.herro-carousel::after {
  content: '';
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: cover;
  /* height: 770px; */
  height: 650px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-image: url(../assets/images/wave.svg);
  /* background-color: rgb(223 28 55 / 9%); */
}

.herro-carousel .wrap-car {
  height: 100%;
}

.herro-carousel-item {
  width: 100vw;
  height: 65vh;
}

.herro-carousel .herro-carousel-item img {
  z-index: 2;
  object-fit: cover;
  width: 100%;
  height: 700px;
  object-position: bottom;
  /* opacity: 0.6; */
}

.herro-carousel-item::after {
  content: '';
  width: 100vw;
  background-size: cover;
  height: 700px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  /* background-image: url(../assets/images/wave.svg); */
  background-color: transparentize(complement($mainColor), 0.4);
}


.herro-carousel .text {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: $mainColor;
  text-shadow: 0 0 5px black;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.herro-carousel .text h1,
.herro-carousel .text h2 {
  flex-basis: 100%;
  text-align: center;
}

.herro-carousel .text h1 {
  color: #eb5600;
  font-size: 3em;
  font-family: "Rubik Beastly";
}

.herro-carousel .text h2 {
  color: #eb5600;
  font-size: 3em;
}



.herro-carousel .car-item {
  padding: 0;
  margin: 0;
}

@media screen and (max-width:600px) {

  .herro-carousel .text h1,
  .herro-carousel .text h2 {
    white-space: pre-line;
    flex-basis: 100%;
    text-align: center;
    font-size: 2em;
  }

  .herro-carousel .text h1 {
  }

  .herro-carousel .text h2 {
  }
}

//start fire shadow

.fire-shadow {
  animation: animation 1s ease-in-out infinite alternate;
  -moz-animation: animation 1s ease-in-out infinite alternate;
  -webkit-animation: animation 1s ease-in-out infinite alternate;
  -o-animation: animation 1s ease-in-out infinite alternate;
}

.burn {
  animation: animation .65s ease-in-out infinite alternate;
  -moz-animation: animation .65s ease-in-out infinite alternate;
  -webkit-animation: animation .65s ease-in-out infinite alternate;
  -o-animation: animation .65s ease-in-out infinite alternate;
}

@keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9,
      10px -10px 30px #feec85,
      -20px -20px 40px #ffae34,
      20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606,
      0 -80px 70px #973716,
      10px -90px 80px #451b0e;
  }

  100% {
    text-shadow: 0 0 20px #fefcc9,
      10px -10px 30px #fefcc9,
      -20px -20px 40px #feec85,
      22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c,
      0 -82px 80px #cd4606,
      10px -90px 80px #973716;
  }
}

@-moz-keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9,
      10px -10px 30px #feec85,
      -20px -20px 40px #ffae34,
      20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606,
      0 -80px 70px #973716,
      10px -90px 80px #451b0e;
  }

  100% {
    text-shadow: 0 0 20px #fefcc9,
      10px -10px 30px #fefcc9,
      -20px -20px 40px #feec85,
      22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c,
      0 -82px 80px #cd4606,
      10px -90px 80px #973716;
  }
}

@-webkit-keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9,
      10px -10px 30px #feec85,
      -20px -20px 40px #ffae34,
      20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606,
      0 -80px 70px #973716,
      10px -90px 80px #451b0e;
  }

  100% {
    text-shadow: 0 0 20px #fefcc9,
      10px -10px 30px #fefcc9,
      -20px -20px 40px #feec85,
      22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c,
      0 -82px 80px #cd4606,
      10px -90px 80px #973716;
  }
}

@-o-keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9,
      10px -10px 30px #feec85,
      -20px -20px 40px #ffae34,
      20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606,
      0 -80px 70px #973716,
      10px -90px 80px #451b0e;
  }

  100% {
    text-shadow: 0 0 20px #fefcc9,
      10px -10px 30px #fefcc9,
      -20px -20px 40px #feec85,
      22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c,
      0 -82px 80px #cd4606,
      10px -90px 80px #973716;
  }
}

//end fire shadow