// $mainColor: #67347eb7;
@import 'vars.scss';

.wrap-nav{
  
  nav.navbar.home-active{
    position: absolute;
    background-color: transparent !important;
    text-shadow: 1px 2px 12px black;
  }

  nav.navbar{
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    display: inherit;
    background-color: complement($mainColor )  !important;
    z-index: 5;
    padding: 0 15%;
    justify-content: center;
    display: flex;
    margin: auto;
    color: $mainColor !important;
    justify-content: space-between;
    align-items: flex-end;
    align-self: center;
    justify-self: center;
    
    div#navbarNav {
      display: flex;

      ul.navbar-nav {
        justify-content: space-between;
        width: 100%;
      }
    }

    a.nav-link{
      color: $mainColor !important;
      font-weight: bold;
      font-size: 30px;
      display: inherit;
    }
    a.active {
        border-bottom: solid 2px;
    }
  }
}

